{% extends "slides/_blank.j2" %}
{% import "susy2/ag.macros.j2" as ag %}

{% block slide %}
{{ ag.show('sym', '10 .25 after') }}

<cite class="credit">
  <b>Arnaud Gueras</b>
  nesting test via
  <a href="http://oocss.org/grids_docs.html">Nicole Sullivan <i class="amp">&</i> OOCSS</a>
</cite>
{% endblock %}
