{% extends "slides/_title.j2" %}

{% block h1 %}Complicated nesting <b>AG Demo</b>{% endblock %}
{% block h2 %}
  <b>Arnaud Gueras</b>
  via
  <a href="http://oocss.org/grids_docs.html">Nicole Sullivan <i class="amp">&</i> OOCSS</a>
  {% endblock %}
