{% extends "slides/_title.j2" %}
{% import "utility.macros.j2" as utility %}

{% block h1 %}
<a href="http://susy.oddbird.net/">
  {{ utility.icon('susy') }}
  <span class="alt-text">Susy</span>
</a>
{% endblock %}
{% block subhead %}{% endblock %}
