{% extends "slides/_title.j2" %}
{% import "utility.macros.j2" as utility %}

{% block h1 %}Get <b>involved</b>{% endblock %}
{% block h2 %}
  <a href="https://github.com/ericam/susy/">Code</a> <b>+</b>
  <a href="https://github.com/ericam/susy/issues/">Ideas</a> <b>+</b>
  <a href="http://susy.oddbird.net/demos/">Tutorials</a> <b>+</b>
  <a href="http://susy.oddbird.net/sites-using-susy/">Sites</a>
{% endblock %}
