{% extends "slides/_title.j2" %}
{% import "utility.macros.j2" as utility %}

{% block h1 %}Read the <b>docs</b>{% endblock %}
{% block h2 %}<a href="http://susydocs.oddbird.net">susydocs.oddbird.net</a>{% endblock %}
