{% extends "slides/_blank.j2" %}

{% block slide %}
<div class="highlight"><pre><span class="nc">.narrow</span> <span class="p">{</span> <span class="na">width</span><span class="o">:</span> <span class="nf">span</span><span class="p">(</span><span class="mi">2</span> <span class="no">narrow</span><span class="p">);</span> <span class="p">}</span>
<span class="nc">.wide</span> <span class="p">{</span> <span class="na">width</span><span class="o">:</span> <span class="nf">span</span><span class="p">(</span><span class="mi">2</span> <span class="no">wide</span><span class="p">);</span> <span class="p">}</span>
<span class="nc">.wider</span> <span class="p">{</span> <span class="na">width</span><span class="o">:</span> <span class="nf">span</span><span class="p">(</span><span class="mi">2</span> <span class="no">wider</span><span class="p">);</span> <span class="p">}</span>
</pre></div>


<div class="demo">
  <div class="narrow">narrow</div>
  <div class="wide">wide</div>
  <div class="wider">wider</div>
</div>
{% endblock %}
