{% extends "slides/_default.j2" %}

{% block h1 %}More <b>soon</b>!{% endblock %}
{% block subhead %}{% endblock %}

{% block slidebody %}
<ul>
  <li>Shorthand for padding, margins, and float direction</li>
  <li>Developer tool integration (<a href="https://github.com/briangonzalez">Brian Gonzalez</a>)</li>
  <li>More Breakpoint integration</li>
  <li>Better library integration controls</li>
</ul>
{% endblock %}
