{% extends "slides/_title.j2" %}

{% block h1 %}Grid <b>classes</b>{% endblock %}
{% block h2 %}
{% highlight 'html' %}
<article class="column col6of12 last">Article</article>
{% endhighlight %}
{% endblock %}
