{% extends "slides/_default.j2" %}
{% import "utility.macros.j2" as utility %}

{% block h1 %}Your Own Damn <b>[Susy]</b> System{% endblock %}
{% block h2 %}
  Eric M Suzanne |
  <a href="http://twitter.com/ericmsuzanne">
    @ericmsuzanne
  </a>
{% endblock %}

{% block slidebody %}
<div class="bio-links">
  <a href="http://oddbird.net">
    {{ utility.icon("bubble") }}
    oddbird.net
  </a>
  <a href="http://github.com/ericam/">
    {{ utility.icon("github") }}
    ericam
  </a>
</div>
{% endblock %}
