{% extends "slides/_blank.j2" %}

{% block slide %}
{% highlight 'scss' %}
.unbox { @include span(30% at 200px isolate); }
{% endhighlight %}

<cite class="credit">Thanks <a href="http://twitter.com/shlidor">Tsachi Schlidor</a>!</cite>
{% endblock %}
