{% extends "slides/_default.j2" %}

{% block h1 %}Syntax <b>options</b>{% endblock %}
{% block subhead %}{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
@import "susyone";
{% endhighlight %}

<cite class="credit">Thanks <a href="http://twitter.com/mragray">Aaron Gray</a>!</cite>
{% endblock %}
