{% extends "pres.j2" %}
{% import "slides/_macros.j2" as pres %}

{% block styles %}
  {{ static.css('../static/css/', ['susy2.css']) }}
{% endblock %}

{% block data_talk %}susy2{% endblock %}

{% block pres %}
  {{ pres.loop(
    talk='susy2',
    slides = [
      'title',
      'bio-oddbird', 'bio-compass', 'bio-true', 'bio-art',
      'bio-susy', 'tldr-no-system', 'tldr-no-framework', 'tldr-toolkit', 'tldr-diy',
      'overload', 'overview-features', 'overview-classes', 'overview-sass',
      'half-assed', 'rapid', 'agile-tools', 'systems',
      'math-yikes', 'math-equation', 'math-simple', 'math-old', 'math-new', 'math-wide',
      'demo-functions', 'demo-mixins', 'demo-isolate', 'demo-gallery',
      'ag-sym', 'ag-asym', 'ag-inside', 'ag-inside-static', 'ag-static',
      'unbox', 'wild', 'rapid-dev', 'diy-framework', 'breakpoint',
      'reqs', 'upgrade', 'docs', 'contrib', 'next',
      'yours', 'end'
    ]
  ) }}
{% endblock %}
