{% extends "pres.j2" %}

{% block styles %}
  {{ static.css('../static/css/', 'sample.css') }}
{% endblock %}

{% block pres %}
  {% set talk='sample' %}
  {% set slides = ['title', 'text', 'code'] %}
  {% include "slides/_loop.j2" %}
{% endblock %}

{% block js %}
  {{ static.js('../static/js/') }}
{% endblock %}
