@charset "UTF-8";
[data-toggle='btn-bread-icon'] h1, [data-toggle='btn-bread-color'] h1, [data-toggle='btn-bread-size'] h1, [data-toggle='btn-bread-icons'] h1, [data-toggle='btn-bread-display'] h1, [data-toggle='btn-bread-shapes'] h1, [data-toggle='btn-bread-styles'] h1, [data-toggle='btn-bread-preset'] h1 {
  font-size: 2.4375rem;
  line-height: 3.125rem;
  text-transform: uppercase;
  font-weight: bold;
}

[data-toggle='btn-bread-icon'] h2, [data-toggle='btn-bread-color'] h2, [data-toggle='btn-bread-size'] h2, [data-toggle='btn-bread-icons'] h2, [data-toggle='btn-bread-display'] h2, [data-toggle='btn-bread-shapes'] h2, [data-toggle='btn-bread-styles'] h2, [data-toggle='btn-bread-preset'] h2 {
  font-size: 1.96875rem;
  line-height: 2.5rem;
}

[data-toggle='btn-bread-icon'] h3, [data-toggle='btn-bread-color'] h3, [data-toggle='btn-bread-size'] h3, [data-toggle='btn-bread-icons'] h3, [data-toggle='btn-bread-display'] h3, [data-toggle='btn-bread-shapes'] h3, [data-toggle='btn-bread-styles'] h3, [data-toggle='btn-bread-preset'] h3 {
  font-size: 1.5625rem;
  line-height: 1.875rem;
}

[data-toggle='btn-bread-icon'] h4, [data-toggle='btn-bread-color'] h4, [data-toggle='btn-bread-size'] h4, [data-toggle='btn-bread-icons'] h4, [data-toggle='btn-bread-display'] h4, [data-toggle='btn-bread-shapes'] h4, [data-toggle='btn-bread-styles'] h4, [data-toggle='btn-bread-preset'] h4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

[data-toggle='btn-bread-icon'] p, [data-toggle='btn-bread-color'] p, [data-toggle='btn-bread-size'] p, [data-toggle='btn-bread-icons'] p, [data-toggle='btn-bread-display'] p, [data-toggle='btn-bread-shapes'] p, [data-toggle='btn-bread-styles'] p, [data-toggle='btn-bread-preset'] p, [data-toggle='btn-bread-icon'] ol, [data-toggle='btn-bread-color'] ol, [data-toggle='btn-bread-size'] ol, [data-toggle='btn-bread-icons'] ol, [data-toggle='btn-bread-display'] ol, [data-toggle='btn-bread-shapes'] ol, [data-toggle='btn-bread-styles'] ol, [data-toggle='btn-bread-preset'] ol, [data-toggle='btn-bread-icon'] ul, [data-toggle='btn-bread-color'] ul, [data-toggle='btn-bread-size'] ul, [data-toggle='btn-bread-icons'] ul, [data-toggle='btn-bread-display'] ul, [data-toggle='btn-bread-shapes'] ul, [data-toggle='btn-bread-styles'] ul, [data-toggle='btn-bread-preset'] ul {
  margin-bottom: 1.25rem;
}
[data-toggle='btn-bread-icon'] ol, [data-toggle='btn-bread-color'] ol, [data-toggle='btn-bread-size'] ol, [data-toggle='btn-bread-icons'] ol, [data-toggle='btn-bread-display'] ol, [data-toggle='btn-bread-shapes'] ol, [data-toggle='btn-bread-styles'] ol, [data-toggle='btn-bread-preset'] ol, [data-toggle='btn-bread-icon'] ul, [data-toggle='btn-bread-color'] ul, [data-toggle='btn-bread-size'] ul, [data-toggle='btn-bread-icons'] ul, [data-toggle='btn-bread-display'] ul, [data-toggle='btn-bread-shapes'] ul, [data-toggle='btn-bread-styles'] ul, [data-toggle='btn-bread-preset'] ul {
  margin-left: 1.25rem;
}
[data-toggle='btn-bread-icon'] ol, [data-toggle='btn-bread-color'] ol, [data-toggle='btn-bread-size'] ol, [data-toggle='btn-bread-icons'] ol, [data-toggle='btn-bread-display'] ol, [data-toggle='btn-bread-shapes'] ol, [data-toggle='btn-bread-styles'] ol, [data-toggle='btn-bread-preset'] ol {
  counter-reset: ol;
}
[data-toggle='btn-bread-icon'] ol li, [data-toggle='btn-bread-color'] ol li, [data-toggle='btn-bread-size'] ol li, [data-toggle='btn-bread-icons'] ol li, [data-toggle='btn-bread-display'] ol li, [data-toggle='btn-bread-shapes'] ol li, [data-toggle='btn-bread-styles'] ol li, [data-toggle='btn-bread-preset'] ol li {
  counter-increment: ol;
}
[data-toggle='btn-bread-icon'] ol li:before, [data-toggle='btn-bread-color'] ol li:before, [data-toggle='btn-bread-size'] ol li:before, [data-toggle='btn-bread-icons'] ol li:before, [data-toggle='btn-bread-display'] ol li:before, [data-toggle='btn-bread-shapes'] ol li:before, [data-toggle='btn-bread-styles'] ol li:before, [data-toggle='btn-bread-preset'] ol li:before {
  content: counter(ol,decimal) ". ";
  font-weight: bold;
}
[data-toggle='btn-bread-icon'] ul, [data-toggle='btn-bread-color'] ul, [data-toggle='btn-bread-size'] ul, [data-toggle='btn-bread-icons'] ul, [data-toggle='btn-bread-display'] ul, [data-toggle='btn-bread-shapes'] ul, [data-toggle='btn-bread-styles'] ul, [data-toggle='btn-bread-preset'] ul {
  list-style: disc;
}

[data-icon] {
  font-family: "pres";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  content: attr(data-icon);
}

@font-face {
  font-family: "SourceSansPro";
  src: url('../../../fonts/sans/sourcesanspro-light-webfont.woff?1383119483') format("woff"), url('../../../fonts/sans/sourcesanspro-light-webfont.ttf?1383119448') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../../../fonts/sans/sourcesanspro-lightitalic-webfont.woff?1383119483') format("woff"), url('../../../fonts/sans/sourcesanspro-lightitalic-webfont.ttf?1383119448') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../../../fonts/sans/sourcesanspro-bold-webfont.woff?1383119483') format("woff"), url('../../../fonts/sans/sourcesanspro-bold-webfont.ttf?1383119448') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../../../fonts/sans/sourcesanspro-bolditalic-webfont.woff?1383119483') format("woff"), url('../../../fonts/sans/sourcesanspro-bolditalic-webfont.ttf?1383119448') format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../../../fonts/code/sourcecodepro-regular-webfont.woff?1383119483') format("woff"), url('../../../fonts/code/sourcecodepro-regular-webfont.ttf?1383119448') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../../../fonts/code/sourcecodepro-bold-webfont.woff?1383119483') format("woff"), url('../../../fonts/code/sourcecodepro-bold-webfont.ttf?1383119448') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "BaskervilleAmp";
  src: url('../../../fonts/amp/Baskerville-amp-webfont.woff?1383119448') format("woff"), url('../../../fonts/amp/Baskerville-amp-webfont.ttf?1383119448') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pres";
  src: url('../../../fonts/icons/pres.woff?1397332052') format("woff"), url('../../../fonts/icons/pres.ttf?1397332052') format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 200%;
  line-height: 1.25em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[data-icon='compass']:before {
  content: "";
}

[data-icon='susy']:before {
  content: "";
}

[data-icon='oddbird']:before {
  content: "";
}

[data-icon='warning']:before {
  content: "";
}

[data-icon='cancel']:before {
  content: "";
}

[data-icon='close']:before {
  content: "";
}

[data-icon='checkmark']:before {
  content: "";
}

[data-icon='minus']:before {
  content: "";
}

[data-icon='plus']:before {
  content: "";
}

[data-icon='twitter']:before {
  content: "";
}

[data-icon='github']:before {
  content: "";
}

[data-toggle='btn-bread-icon'], [data-toggle='btn-bread-color'], [data-toggle='btn-bread-size'], [data-toggle='btn-bread-icons'], [data-toggle='btn-bread-display'], [data-toggle='btn-bread-shapes'], [data-toggle='btn-bread-styles'], [data-toggle='btn-bread-preset'], [data-toggle='title'], [data-toggle='sourcemaps'], [data-toggle='intro-map'], [data-toggle='no-magic'], [data-toggle='intro-css'], [data-toggle='intro-mapcss'], [data-toggle='intro-mundane'], [data-toggle='intro-mundane-maps'], [data-toggle='intro-insane'], [data-toggle='intro-sane'], [data-toggle='buttons-title'], [data-toggle='queer'], [data-toggle='btn-preview'], [data-toggle='btn-preview-options'], [data-toggle='basics-title'], [data-toggle='maps-empty'], [data-toggle='maps-longhand'], [data-toggle='maps-merge'], [data-toggle='maps-merge-result'], [data-toggle='maps-edit'], [data-toggle='maps-set'], [data-toggle='maps-remove'], [data-toggle='maps-get'], [data-toggle='maps-more'], [data-toggle='maps-loop'], [data-toggle='maps-args'], [data-toggle='maps-vargs'], [data-toggle='simple-keys'], [data-toggle='buttons-please'], [data-toggle='buttons-please2'], [data-toggle='btn-modules'], [data-toggle='icons-basic'], [data-toggle='icons-placeholder'], [data-toggle='icons-long'], [data-toggle='icons-map'], [data-toggle='icons-loop'], [data-toggle='icons-function'], [data-toggle='icons-mixin'], [data-toggle='icons-data-demo'], [data-toggle='icons-mixin-demo'], [data-toggle='icons-map-recursive'], [data-toggle='icons-function-recursive'], [data-toggle='icons-recursive-demo'], [data-toggle='icons-content'], [data-toggle='colors-variable'], [data-toggle='colors-map'], [data-toggle='colors-recursive'], [data-toggle='colors-error'], [data-toggle='colors-adjust'], [data-toggle='colors-function'], [data-toggle='size-variables'], [data-toggle='size-map'], [data-toggle='size-ratios'], [data-toggle='size-combo'], [data-toggle='size-get'], [data-toggle='size-function'], [data-toggle='display'], [data-toggle='display-shorthand'], [data-toggle='display-map'], [data-toggle='display-parse-goal'], [data-toggle='display-parse'], [data-toggle='display-btn-mixin'], [data-toggle='shapes'], [data-toggle='shapes-option'], [data-toggle='shapes-function'], [data-toggle='combo'], [data-toggle='styles'], [data-toggle='styles-option'], [data-toggle='styles-functions'], [data-toggle='styles-custom'], [data-toggle='styles-render'], [data-toggle='styles-render-demo'], [data-toggle='combo-icons'], [data-toggle='combo-render'], [data-toggle='combo-mixin'], [data-toggle='combo-demo'], [data-toggle='defaults'], [data-toggle='defaults-user'], [data-toggle='defaults-function'], [data-toggle='presets-intro'], [data-toggle='presets'], [data-toggle='presets-parse'], [data-toggle='omg'], [data-toggle='social'], [data-toggle='social-demo'] {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
[data-toggle='btn-bread-icon'] .slidewrap, [data-toggle='btn-bread-color'] .slidewrap, [data-toggle='btn-bread-size'] .slidewrap, [data-toggle='btn-bread-icons'] .slidewrap, [data-toggle='btn-bread-display'] .slidewrap, [data-toggle='btn-bread-shapes'] .slidewrap, [data-toggle='btn-bread-styles'] .slidewrap, [data-toggle='btn-bread-preset'] .slidewrap, [data-toggle='title'] .slidewrap, [data-toggle='sourcemaps'] .slidewrap, [data-toggle='intro-map'] .slidewrap, [data-toggle='no-magic'] .slidewrap, [data-toggle='intro-css'] .slidewrap, [data-toggle='intro-mapcss'] .slidewrap, [data-toggle='intro-mundane'] .slidewrap, [data-toggle='intro-mundane-maps'] .slidewrap, [data-toggle='intro-insane'] .slidewrap, [data-toggle='intro-sane'] .slidewrap, [data-toggle='buttons-title'] .slidewrap, [data-toggle='queer'] .slidewrap, [data-toggle='btn-preview'] .slidewrap, [data-toggle='btn-preview-options'] .slidewrap, [data-toggle='basics-title'] .slidewrap, [data-toggle='maps-empty'] .slidewrap, [data-toggle='maps-longhand'] .slidewrap, [data-toggle='maps-merge'] .slidewrap, [data-toggle='maps-merge-result'] .slidewrap, [data-toggle='maps-edit'] .slidewrap, [data-toggle='maps-set'] .slidewrap, [data-toggle='maps-remove'] .slidewrap, [data-toggle='maps-get'] .slidewrap, [data-toggle='maps-more'] .slidewrap, [data-toggle='maps-loop'] .slidewrap, [data-toggle='maps-args'] .slidewrap, [data-toggle='maps-vargs'] .slidewrap, [data-toggle='simple-keys'] .slidewrap, [data-toggle='buttons-please'] .slidewrap, [data-toggle='buttons-please2'] .slidewrap, [data-toggle='btn-modules'] .slidewrap, [data-toggle='icons-basic'] .slidewrap, [data-toggle='icons-placeholder'] .slidewrap, [data-toggle='icons-long'] .slidewrap, [data-toggle='icons-map'] .slidewrap, [data-toggle='icons-loop'] .slidewrap, [data-toggle='icons-function'] .slidewrap, [data-toggle='icons-mixin'] .slidewrap, [data-toggle='icons-data-demo'] .slidewrap, [data-toggle='icons-mixin-demo'] .slidewrap, [data-toggle='icons-map-recursive'] .slidewrap, [data-toggle='icons-function-recursive'] .slidewrap, [data-toggle='icons-recursive-demo'] .slidewrap, [data-toggle='icons-content'] .slidewrap, [data-toggle='colors-variable'] .slidewrap, [data-toggle='colors-map'] .slidewrap, [data-toggle='colors-recursive'] .slidewrap, [data-toggle='colors-error'] .slidewrap, [data-toggle='colors-adjust'] .slidewrap, [data-toggle='colors-function'] .slidewrap, [data-toggle='size-variables'] .slidewrap, [data-toggle='size-map'] .slidewrap, [data-toggle='size-ratios'] .slidewrap, [data-toggle='size-combo'] .slidewrap, [data-toggle='size-get'] .slidewrap, [data-toggle='size-function'] .slidewrap, [data-toggle='display'] .slidewrap, [data-toggle='display-shorthand'] .slidewrap, [data-toggle='display-map'] .slidewrap, [data-toggle='display-parse-goal'] .slidewrap, [data-toggle='display-parse'] .slidewrap, [data-toggle='display-btn-mixin'] .slidewrap, [data-toggle='shapes'] .slidewrap, [data-toggle='shapes-option'] .slidewrap, [data-toggle='shapes-function'] .slidewrap, [data-toggle='combo'] .slidewrap, [data-toggle='styles'] .slidewrap, [data-toggle='styles-option'] .slidewrap, [data-toggle='styles-functions'] .slidewrap, [data-toggle='styles-custom'] .slidewrap, [data-toggle='styles-render'] .slidewrap, [data-toggle='styles-render-demo'] .slidewrap, [data-toggle='combo-icons'] .slidewrap, [data-toggle='combo-render'] .slidewrap, [data-toggle='combo-mixin'] .slidewrap, [data-toggle='combo-demo'] .slidewrap, [data-toggle='defaults'] .slidewrap, [data-toggle='defaults-user'] .slidewrap, [data-toggle='defaults-function'] .slidewrap, [data-toggle='presets-intro'] .slidewrap, [data-toggle='presets'] .slidewrap, [data-toggle='presets-parse'] .slidewrap, [data-toggle='omg'] .slidewrap, [data-toggle='social'] .slidewrap, [data-toggle='social-demo'] .slidewrap {
  width: 100%;
}

[data-toggle='btn-bread-icon'], [data-toggle='btn-bread-color'], [data-toggle='btn-bread-size'], [data-toggle='btn-bread-icons'], [data-toggle='btn-bread-display'], [data-toggle='btn-bread-shapes'], [data-toggle='btn-bread-styles'], [data-toggle='btn-bread-preset'] {
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: rgba(76, 76, 76, 0.5);
}
[data-toggle='btn-bread-icon'] .slidewrap, [data-toggle='btn-bread-color'] .slidewrap, [data-toggle='btn-bread-size'] .slidewrap, [data-toggle='btn-bread-icons'] .slidewrap, [data-toggle='btn-bread-display'] .slidewrap, [data-toggle='btn-bread-shapes'] .slidewrap, [data-toggle='btn-bread-styles'] .slidewrap, [data-toggle='btn-bread-preset'] .slidewrap {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
[data-toggle='btn-bread-icon'] .crumb-active, [data-toggle='btn-bread-color'] .crumb-active, [data-toggle='btn-bread-size'] .crumb-active, [data-toggle='btn-bread-icons'] .crumb-active, [data-toggle='btn-bread-display'] .crumb-active, [data-toggle='btn-bread-shapes'] .crumb-active, [data-toggle='btn-bread-styles'] .crumb-active, [data-toggle='btn-bread-preset'] .crumb-active {
  color: #ff0080;
  font-weight: bold;
}

.highlight {
  font-size: 0.90625rem;
  line-height: 1.25rem;
}
.slidebody .highlight {
  font-size: 0.625rem;
  line-height: 0.9375rem;
  border: 2px dashed gray;
  border-width: 2px 0;
  padding: 0.625rem;
}

.slide {
  background: url('../../../images/rainish.svg?1383119448') no-repeat scroll 150% 250%;
  -moz-background-size: 50% auto;
  -o-background-size: 50% auto;
  -webkit-background-size: 50% auto;
  background-size: 50% auto;
}

.two-up {
  -webkit-align-items: stretch;
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
  background: rgba(250, 250, 250, 0.75);
  border: 2px dashed gray;
  border-width: 2px 0;
}
.two-up .highlight {
  -webkit-flex: 1;
  flex: 1;
  border: 0;
  overflow: hidden;
}
.two-up .highlight + .highlight {
  border-left: 1px dotted rgba(128, 128, 128, 0.25);
}

[data-toggle='title'] .slidewrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 100%;
}
[data-toggle='title'] .slidehead {
  margin: 1.25rem 0;
}
[data-toggle='title'] .slidebody {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}
[data-toggle='title'] .logos {
  -webkit-flex: 1 50%;
  flex: 1 50%;
  text-align: right;
  white-space: nowrap;
}
[data-toggle='title'] .logos [data-icon] {
  vertical-align: middle;
}
[data-toggle='title'] .logo:link, [data-toggle='title'] .logo:visited {
  font-size: 2.4375rem;
  line-height: 3.125rem;
  color: gray;
  display: inline-block;
  margin-right: 0.625rem;
}
[data-toggle='title'] .logo:hover, [data-toggle='title'] .logo:focus, [data-toggle='title'] .logo:active {
  color: #ff0080;
}
[data-toggle='title'] .info {
  -webkit-flex: 1 50%;
  flex: 1 50%;
  font-size: 0.625rem;
  line-height: 0.9375rem;
  border-left: 2px dashed gray;
  padding: 0.625rem;
}
[data-toggle='title'] .license {
  color: gray;
}
[data-toggle='title'] .license strong {
  font-weight: bold;
}
[data-toggle='title'] .license a {
  font-style: italic;
}

@-moz-keyframes scroll-up {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -moz-transform: translate3d(0, -24.375rem, 0);
    transform: translate3d(0, -24.375rem, 0);
  }
}
@-webkit-keyframes scroll-up {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -24.375rem, 0);
    transform: translate3d(0, -24.375rem, 0);
  }
}
@keyframes scroll-up {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -moz-transform: translate3d(0, -24.375rem, 0);
    -webkit-transform: translate3d(0, -24.375rem, 0);
    transform: translate3d(0, -24.375rem, 0);
  }
}
[data-toggle='no-magic'] .samples {
  border: 2px dashed gray;
  border-width: 2px 0;
  max-height: 10rem;
  overflow: hidden;
}
[data-toggle='no-magic'] .s-wrap {
  position: relative;
}
[id="toggle-slide-no-magic"]:checked + [data-toggle='no-magic'] .s-wrap {
  -moz-animation: scroll-up 5s 600ms ease-in-out both;
  -webkit-animation: scroll-up 5s 600ms ease-in-out both;
  animation: scroll-up 5s 600ms ease-in-out both;
}
[data-toggle='no-magic'] .highlight {
  border: 0;
}
