// Color Config
// ============

$colors: (
  'gray': hsl(0, 0%, 50%),
  'blue': hsl(195, 100%, 40%),
  'orange': hsl(24, 100%, 50%),
  'green': hsl(75, 100%, 50%),
  'pink': hsl(330, 100%, 50%),
  'red': hsl(0, 100%, 50%),

  light: 'gray' (tint: 40%),
  base: 'gray' (shade: 40%),
  alt: 'blue',
  accent: 'pink',
  stop: red,

  action: alt,
  focus: accent,

  back: hsl(0, 0%, 98%),
  shadow: back (rgba: .5),
  border: 'gray',
);

$contrasted-dark-default: color(light);
$contrasted-light-default: color(base);
