// Icons
// =====

$icon-pencil                    : "\f071";
$icon-tag                       : "\e004";
$icon-remove                    : "\e000";
$icon-plus                      : "\e001";
$icon-checkmark                 : "\e006";
$icon-close                     : "\e008";
$icon-warning                   : "\e009";
$icon-info                      : "\e00a";
$icon-cancel-circle             : "\e002";
$icon-move-horizontal           : "\e00b";
$icon-twitter                   : "\e00c";
$icon-github                    : "\e00d";
$icon-bubble                    : "\e003";
$icon-user                      : "\e005";

$icons: 'pencil'                $icon-pencil,
        'tag'                   $icon-tag,
        'remove'                $icon-remove,
        'plus'                  $icon-plus,
        'checkmark'             $icon-checkmark,
        'close'                 $icon-close,
        'warning'               $icon-warning,
        'info'                  $icon-info,
        'cancel'                $icon-cancel-circle,
        'move'                  $icon-move-horizontal,
        'twitter'               $icon-twitter,
        'github'                $icon-github,
        'bubble'                $icon-bubble,
        'user'                  $icon-user
        ;
