@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.alt-text,
.is-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

a:link, a:visited {
  color: #0099cc;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  color: #ff0080;
}

.head {
  font-size: 2.4375rem;
  line-height: 3.125rem;
  text-transform: uppercase;
  font-weight: bold;
}

[data-icon] {
  font-family: "pres";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  content: attr(data-icon);
}

@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-light-webfont.woff?1383119483') format("woff"), url('../fonts/sans/sourcesanspro-light-webfont.ttf?1383119448') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-lightitalic-webfont.woff?1383119483') format("woff"), url('../fonts/sans/sourcesanspro-lightitalic-webfont.ttf?1383119448') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-bold-webfont.woff?1383119483') format("woff"), url('../fonts/sans/sourcesanspro-bold-webfont.ttf?1383119448') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-bolditalic-webfont.woff?1383119483') format("woff"), url('../fonts/sans/sourcesanspro-bolditalic-webfont.ttf?1383119448') format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/sourcecodepro-regular-webfont.woff?1383119483') format("woff"), url('../fonts/code/sourcecodepro-regular-webfont.ttf?1383119448') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/sourcecodepro-bold-webfont.woff?1383119483') format("woff"), url('../fonts/code/sourcecodepro-bold-webfont.ttf?1383119448') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "BaskervilleAmp";
  src: url('../fonts/amp/Baskerville-amp-webfont.woff?1383119448') format("woff"), url('../fonts/amp/Baskerville-amp-webfont.ttf?1383119448') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pres";
  src: url('../fonts/icons/pres.woff?1397332052') format("woff"), url('../fonts/icons/pres.ttf?1397332052') format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: SourceSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
}

pre, code {
  font-family: SourceCodePro, Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.amp {
  font-family: BaskervilleAmp;
}

html {
  font-size: 200%;
  line-height: 1.25em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[data-icon='compass']:before {
  content: "";
}

[data-icon='susy']:before {
  content: "";
}

[data-icon='oddbird']:before {
  content: "";
}

[data-icon='warning']:before {
  content: "";
}

[data-icon='cancel']:before {
  content: "";
}

[data-icon='close']:before {
  content: "";
}

[data-icon='checkmark']:before {
  content: "";
}

[data-icon='minus']:before {
  content: "";
}

[data-icon='plus']:before {
  content: "";
}

[data-icon='twitter']:before {
  content: "";
}

[data-icon='github']:before {
  content: "";
}

html {
  background: #fafafa;
  color: #4c4c4c;
  text-shadow: rgba(250, 250, 250, 0.5) 0 1px 0;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}

.amp {
  font-weight: normal;
  font-style: normal;
}

b {
  color: #ff0080;
}

.slide {
  -moz-transition: all 150ms;
  -o-transition: all 150ms;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  counter-increment: slide;
  float: left;
  height: 100%;
  margin-right: -1000%;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1.25rem;
  position: relative;
  width: 100%;
  z-index: -1;
}

[id^="toggle-slide-"] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id^="toggle-slide-"]:checked + .slide {
  opacity: 1;
  z-index: 100;
}

.credit {
  font-size: 0.625rem;
  line-height: 1.25rem;
  background: rgba(250, 250, 250, 0.5);
  bottom: 0.625rem;
  font-weight: bold;
  padding: 0.625rem 0.625rem;
  position: absolute;
  left: 0.625rem;
}

.prev,
.next {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  font-size: 1.96875rem;
  line-height: 2.5rem;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0, 153, 204, 0.25);
  bottom: 0;
  color: rgba(250, 250, 250, 0.5);
  cursor: pointer;
  opacity: 0;
  padding: 0.625rem;
  position: fixed;
  top: 0;
  z-index: 500;
}
.prev:hover, .prev:focus, .prev:active,
.next:hover,
.next:focus,
.next:active {
  opacity: .5;
}

.prev {
  left: 0;
}
.prev:before {
  content: "«";
}

.next {
  right: 0;
}
.next:before {
  content: "»";
}

.this {
  font-size: 0.625rem;
  line-height: 1.25rem;
  bottom: 0;
  left: 0;
  opacity: .25;
  padding: 0 0.625rem;
  position: fixed;
  text-align: left;
  z-index: 800;
}
.this:before {
  content: counter(slide);
}
.this:hover {
  opacity: .5;
}

.slidehead {
  margin-bottom: 0.625rem;
  text-align: center;
}
.slidehead:last-child {
  margin-bottom: 0;
}
.slidehead em {
  font-style: italic;
}
.slidehead strong {
  font-weight: bold;
}

.head .amp {
  font-size: 5.96875rem;
  line-height: 6.25rem;
  position: relative;
  display: inline-block;
  margin: 0 -.25em;
  vertical-align: middle;
  z-index: -1;
}
.head b {
  display: inline-block;
}

.c {
  color: gray;
  font-style: italic;
}

.err {
  color: red;
}

.k {
  font-weight: bold;
}

.o {
  color: gray;
}

.cm {
  color: gray;
  font-style: italic;
}

.cp {
  color: gray;
  font-weight: bold;
}

.c1 {
  color: gray;
  font-style: italic;
}

.cs {
  color: gray;
  font-weight: bold;
  font-style: italic;
}

.gd {
  color: #4c4c4c;
  background-color: #ffdddd;
}

.gd .x {
  color: #4c4c4c;
  background-color: #ffaaaa;
}

.ge {
  font-style: italic;
}

.gr {
  color: #aa0000;
}

.gh {
  color: gray;
}

.gi {
  color: #4c4c4c;
  background-color: #ddffdd;
}

.gi .x {
  color: #4c4c4c;
  background-color: #aaffaa;
}

.go {
  color: #888888;
}

.gp {
  color: #555555;
}

.gs {
  font-weight: bold;
}

.gu {
  color: #800080;
  font-weight: bold;
}

.gt {
  color: #aa0000;
}

.kc {
  font-weight: bold;
}

.kd {
  font-weight: bold;
}

.kn {
  font-weight: bold;
}

.kp {
  font-weight: bold;
}

.kr {
  font-weight: bold;
}

.kt {
  color: #004c66;
  font-weight: bold;
}

.m {
  color: #0099cc;
}

.s {
  color: #ff0080;
}

.n {
  color: #4c4c4c;
}

.na {
  color: #0099cc;
}

.nb {
  color: #ff0080;
}

.nc {
  color: #004c66;
  font-weight: bold;
}

.no {
  color: #0099cc;
}

.ni {
  color: #ff0080;
}

.ne {
  color: #ff0080;
  font-weight: bold;
}

.nf {
  color: #ff0080;
  font-weight: bold;
}

.nn {
  color: gray;
}

.nt {
  color: #004c66;
}

.nv {
  color: #ff0080;
}

.ow {
  font-weight: bold;
}

.w {
  color: #bbbbbb;
}

.mf {
  color: #0099cc;
}

.mh {
  color: #0099cc;
}

.mi {
  color: #0099cc;
}

.mo {
  color: #0099cc;
}

.sb {
  color: #ff0080;
}

.sc {
  color: #ff0080;
}

.sd {
  color: #ff0080;
}

.s2 {
  color: #ff0080;
}

.se {
  color: #ff0080;
}

.sh {
  color: #ff0080;
}

.si {
  color: #ff0080;
}

.sx {
  color: #ff0080;
}

.sr {
  color: #009926;
}

.s1 {
  color: #ff0080;
}

.ss {
  color: #990073;
}

.bp {
  color: gray;
}

.vc {
  color: #0099cc;
}

.vg {
  color: #0099cc;
}

.vi {
  color: #0099cc;
}

.il {
  color: #0099cc;
}

.gc {
  color: #999;
  background-color: #EAF2F5;
}
