html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "BaskervilleAmp";
  src: url('../fonts/amp/Baskerville-amp-webfont.woff?1381528855') format("woff"), url('../fonts/amp/Baskerville-amp-webfont.ttf?1381528855') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/SourceSansPro-Light.ttf?1381528855') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/SourceSansPro-LightItalic.ttf?1381528855') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/SourceSansPro-Bold.ttf?1381528855') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/SourceSansPro-BoldItalic.ttf?1381528855') format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/SourceCodePro-Regular.ttf?1381528855') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/SourceCodePro-Bold.ttf?1381528855') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/SourceCodePro-Light.ttf?1381528855') format("truetype");
  font-weight: 200;
  font-style: normal;
}

html {
  font-size: 200%;
  line-height: 1.25em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "SourceSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fcfcfc;
  color: #4c4c4c;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}

@font-face {
  font-family: "pres";
  src: url('../fonts/icons/pres.ttf?1381528855') format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "pres";
  font-style: normal;
  speak: none;
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon="pencil"]:before {
  content: "\f071";
}

[data-icon="tag"]:before {
  content: "\e004";
}

[data-icon="remove"]:before {
  content: "\e000";
}

[data-icon="plus"]:before {
  content: "\e001";
}

[data-icon="checkmark"]:before {
  content: "\e006";
}

[data-icon="close"]:before {
  content: "\e008";
}

[data-icon="warning"]:before {
  content: "\e009";
}

[data-icon="info"]:before {
  content: "\e00a";
}

[data-icon="cancel"]:before {
  content: "\e002";
}

[data-icon="move"]:before {
  content: "\e00b";
}

[data-icon="twitter"]:before {
  content: "\e00c";
}

[data-icon="github"]:before {
  content: "\e00d";
}

[data-icon="bubble"]:before {
  content: "\e003";
}

[data-icon="user"]:before {
  content: "\e005";
}

a:link, a:visited {
  color: #0098cc;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  color: #ff0080;
}

.alt-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.amp {
  font-family: "BaskervilleAmp", Baskerville, Palatino, Cambria, Georgia, serif;
  font-weight: normal;
  font-style: normal;
}

pre, code {
  font-family: "SourceCodePro", Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

b {
  color: #ff0080;
}

.head {
  font-size: 3.0625rem;
  line-height: 3.75rem;
  text-transform: uppercase;
  font-weight: bold;
}

label {
  cursor: pointer;
}

[id^="toggle-slide-"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.c {
  color: #b2b2b2;
}

/* Comment */
.err {
  color: #b2b2b2;
}

/* Error */
.g {
  color: #b2b2b2;
}

/* Generic */
.k {
  color: #666666;
}

/* Keyword */
.l {
  color: #b2b2b2;
}

/* Literal */
.n {
  color: #b2b2b2;
}

/* Name */
.o {
  color: #666666;
}

/* Operator */
.x {
  color: #ff0080;
}

/* Other */
.p {
  color: #666666;
}

/* Punctuation */
.cm {
  color: #b2b2b2;
}

/* Comment.Multiline */
.cp {
  color: #666666;
}

/* Comment.Preproc */
.c1 {
  color: #b2b2b2;
}

/* Comment.Single */
.cs {
  color: #666666;
}

/* Comment.Special */
.gd {
  color: #0098cc;
}

/* Generic.Deleted */
.ge {
  color: #b2b2b2;
  font-style: italic;
}

/* Generic.Emph */
.gr {
  color: #ff0080;
}

/* Generic.Error */
.gh {
  color: #ff0080;
}

/* Generic.Heading */
.gi {
  color: #666666;
}

/* Generic.Inserted */
.go {
  color: #b2b2b2;
}

/* Generic.Output */
.gp {
  color: #b2b2b2;
}

/* Generic.Prompt */
.gs {
  color: #b2b2b2;
  font-weight: bold;
}

/* Generic.Strong */
.gu {
  color: #ff0080;
}

/* Generic.Subheading */
.gt {
  color: #b2b2b2;
}

/* Generic.Traceback */
.kc {
  color: #ff0080;
}

/* Keyword.Constant */
.kd {
  color: #ff0080;
}

/* Keyword.Declaration */
.kn {
  color: #666666;
}

/* Keyword.Namespace */
.kp {
  color: #666666;
}

/* Keyword.Pseudo */
.kr {
  color: #ff0080;
}

/* Keyword.Reserved */
.kt {
  color: #ff0080;
}

/* Keyword.Type */
.ld {
  color: #b2b2b2;
}

/* Literal.Date */
.m {
  color: #0098cc;
}

/* Literal.Number */
.s {
  color: #0098cc;
}

/* Literal.String */
.na {
  color: #cc0000;
}

/* Name.Attribute */
.nb {
  color: #ff0080;
}

/* Name.Builtin */
.nc {
  color: #0098cc;
}

/* Name.Class */
.no {
  color: #ff0080;
}

/* Name.Constant */
.nd {
  color: #ff0080;
}

/* Name.Decorator */
.ni {
  color: #ff0080;
}

/* Name.Entity */
.ne {
  color: #ff0080;
}

/* Name.Exception */
.nf {
  color: #ff0080;
}

/* Name.Function */
.nl {
  color: #b2b2b2;
}

/* Name.Label */
.nn {
  color: #0098cc;
}

/* Name.Namespace */
.nx {
  color: #b2b2b2;
}

/* Name.Other */
.py {
  color: #b2b2b2;
}

/* Name.Property */
.nt {
  color: #007299;
}

/* Name.Tag */
.nv {
  color: #007299;
}

/* Name.Variable */
.ow {
  color: #666666;
}

/* Operator.Word */
.w {
  color: #b2b2b2;
}

/* Text.Whitespace */
.mf {
  color: #0098cc;
}

/* Literal.Number.Float */
.mh {
  color: #0098cc;
}

/* Literal.Number.Hex */
.mi {
  color: #0098cc;
}

/* Literal.Number.Integer */
.mo {
  color: #0098cc;
}

/* Literal.Number.Oct */
.sb {
  color: #b2b2b2;
}

/* Literal.String.Backtick */
.sc {
  color: #0098cc;
}

/* Literal.String.Char */
.sd {
  color: #b2b2b2;
}

/* Literal.String.Doc */
.s2 {
  color: #0098cc;
}

/* Literal.String.Double */
.se {
  color: #ff0080;
}

/* Literal.String.Escape */
.sh {
  color: #b2b2b2;
}

/* Literal.String.Heredoc */
.si {
  color: #0098cc;
}

/* Literal.String.Interpol */
.sx {
  color: #0098cc;
}

/* Literal.String.Other */
.sr {
  color: #ff0080;
}

/* Literal.String.Regex */
.s1 {
  color: #0098cc;
}

/* Literal.String.Single */
.ss {
  color: #0098cc;
}

/* Literal.String.Symbol */
.bp {
  color: #ff0080;
}

/* Name.Builtin.Pseudo */
.vc {
  color: #ff0080;
}

/* Name.Variable.Class */
.vg {
  color: #ff0080;
}

/* Name.Variable.Global */
.vi {
  color: #ff0080;
}

/* Name.Variable.Instance */
.il {
  color: #0098cc;
}

/* Literal.Number.Integer.Long */
.section-toggle-focus {
  position: fixed;
  bottom: 0;
  right: 0.625rem;
  color: red;
  z-index: 800;
}

.slide {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  counter-increment: slide;
  opacity: 0;
  z-index: -1;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  margin-right: -1000%;
  padding: 1.25rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

[id^="toggle-slide-"]:checked + [data-toggle] {
  opacity: 1;
  z-index: 100;
}
[id^="toggle-slide-"]:focus ~ .section-toggle-focus {
  color: #b2b2b2;
}

.prev, .next {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -ms-flex-align: center;
  flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.96875rem;
  line-height: 2.5rem;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0.15625rem;
  background: rgba(255, 0, 128, 0.25);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 500;
}
.prev:hover, .prev:focus, .prev:active, .next:hover, .next:focus, .next:active {
  opacity: .5;
}

.prev {
  left: 0;
}
.prev:before {
  content: "«";
}

.next {
  right: 0;
}
.next:before {
  content: "»";
}

.this {
  font-size: 0.625rem;
  line-height: 1.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 2.1875rem;
  padding: 0 0.3125rem;
  color: rgba(178, 178, 178, 0.5);
  text-align: left;
  z-index: 800;
}
.this:before {
  content: counter(slide);
}
.this:hover {
  color: #999999;
}

.slidehead {
  margin-bottom: 1.25rem;
  text-align: center;
}

.head .amp {
  position: relative;
  font-size: 5rem;
  line-height: 2.5rem;
  display: inline-block;
  margin: 0 -.25em 0 -.25em;
  vertical-align: middle;
  z-index: -1;
}

[data-talk="plugins"] [data-toggle="title"] .head {
  font-size: 1.96875rem;
  line-height: 2.5rem;
}
