// About Slide
// ===========

[data-toggle="about"] {
  @extend %simple-slide;

  @include after(icon(arrow-down-right)) {
    @extend %icon;
    @include font-size(600px);
    @include stretch(rhythm(1));
    opacity: 0;
    color: $pink;
    text-align: center;
  }

  [id="toggle-slide-about"]:checked + &:after {
    @include animation(xeric 1s 5s steps(1,end) infinite);
  }
}
