// General Slides
// ==============


$simple-slides:
  bio-oddbird, bio-compass, bio-true, bio-art, bio-susy,
  tldr, tldr-better, tldr-contrib,
  no-ruby, no-idea, no-plan, no-experience, no-name, no-badge,
  grids, 'susy01', credit, wild, show, readme, license, 'bsd3',
  github, semver, soft, ask, changelog,
  distribute, sache, document, contrib, respond,
  copy, new
;

@each $slide in $simple-slides {
  @include slide($slide, 'simple-slide');
}

.credit {
  @include font-size(small);
  background: color(white, .95);
  bottom: rhythm(.25);
  font-weight: bold;
  padding: rhythm(.125) rhythm(.25);
  position: absolute;
  right: rhythm(.25);
}


// Slides
// ------

@include slide(chris, simple-slide invert-colors) {
  @include background(image-url('show-yr-work/chris.jpg') no-repeat scroll center);
  @include background-size(cover);
}

@include slide(susy-origin, simple-slide) {
  @include align-items(flex-end);
  @include background(image-url('show-yr-work/susy1.png') no-repeat scroll top center);
  @include background-size(cover);
}

@include slide(docs01, vertical-center);

@include slide(wtf, vertical-center) {
  @include with-layout(12 .25 after show-columns) {
    .page, .left-nav, .main-content { outline: 1px solid $red; }
    .page { @include container; }
    .left-nav { @include span(3) }
    .main-content {
      @include prefix(1);
      @include span(last 4 of 10);
      strong { background: color(white,.25); }
    }
  }
  strong {
    display: block;
    padding: rhythm(.5);
    font-weight: bold;
    text-align: center;
  }
}

[data-toggle="community"] {
  @extend %simple-slide;
  .contributors {
    @include font-size(small);
    @include delimited-list(' / ');
    @include after('...');
    color: color(lighter);
    display: inline;
    text-align: justify;
  }
}

[data-toggle="dry"] {
  @extend %simple-slide;
  @extend %invert-colors;
  @include background(image-url('show-yr-work/trash.jpg') no-repeat scroll center);
  @include background-size(cover);
}

[data-toggle="small"] {
  @extend %simple-slide;
}

[data-toggle="sass"] {
  @extend %simple-slide;
}

[data-toggle="tools"] {
  @extend %simple-slide;
}

[data-toggle="toggle"] {
  @extend %simple-slide;
  padding: 0;

  .head { text-shadow: white 0 0 rhythm(.25), white 0 0 rhythm(.25); }

  .slidebody {
    @include stretch;
    @include display-flex;
    @include justify-content(stretch);
    @include align-items(stretch);
    height: 100%;
    z-index: -1;
  }

  .tab-code, .toggle-code {
    @include flex(1);
    overflow: hidden;
    overflow-y: scroll;
  }

  .highlight {
    overflow: hidden;
    margin: rhythm(.5);
  }

  .toggle-code {
    border-left: 1px solid $alt;
  }
}

[data-toggle="test"] {
  @extend %simple-slide;
}

@include slide(bsd3) {
  .slidewrap { @include font-size(xxsmall); }
}

[data-toggle="true"] {
  @extend %simple-slide;
}

@include slide(semver) {
  .slidebody { @include container(30em); }
}

@include slide(travis, simple-slide) {
  .travis-github {
    @include leader;
    @include box-shadow;
  }
}

@include slide(contrib) {
  .github-contrib {
    @include box-shadow;
  }
}
