// Tab Slides
// ==========


// CSS Tabs
// --------

$default-checked-selector : ':checked'      !default;
$default-nested-selectors : null            !default;

$toggle-attribute   : id      !default;
$title-attribute    : for     !default;
$content-attribute  : class   !default;

@mixin tab-defaults {
  %hide-tab-content { display: none; }
  %show-tab-content { display: block; }
  %active-tab-title { font-weight: bold; }
}

@mixin tabs(
  $slugs,
  $nested: $default-nested-selectors,
  $checked: $default-checked-selector
) {
  $nested-tabs: $nested;
  $nested-content: $nested;
  @if length($nested) > 1 {
    $nested-tabs: nth($nested, 1);
    $nested-content: nth($nested, 2);
  }

  @each $slug in $slugs {
    $toggle   : '[#{$toggle-attribute}*="#{$slug}"]';
    $title    : '[#{$title-attribute}*="#{$slug}"]';
    $content  : '[#{$content-attribute}*="#{$slug}"]';

    #{$content} { @extend %hide-tab-content; }
    #{$toggle} {
      @extend %hide-tab-toggle;
      &#{$checked} {
        & ~ #{$nested-tabs} #{$title} {
          @extend %active-tab-title !optional;
        }
        & ~ #{$nested-content} #{$content} {
          @extend %show-tab-content;
        }
      }
    }
  }
}

%hide-tab-toggle { display: none; }

%hide-tab-content {
  @include transition(opacity 300ms);
  opacity: 0;
  float: left;
  width: 100%;
  margin-right: -100%;
}
%show-tab-content {
  opacity: 1;
  position: relative;
  z-index: 10;
}


// Slides
// ------

[data-toggle="tabs"] {
  @extend %simple-slide;

  %active-tab-title {
    background: none;
    border-bottom-color: rgba(black, 0);
  }

  .tabs-demo {
    @include tabs(one two three, ".tabs" ".content");
    @include box-shadow(rgba(black,.5) 0 0 .5em);
    max-width: rhythm(25);
    margin: 0 auto;
    background: color(lightest $pink);
  }

  .tabs [for] {
    @include rhythm-borders(1px,.25);
    float: left;
    width: percentage(1/3);
    text-align: center;
    background: color(lightest $alt);
    font-weight: bold;
    text-transform: capitalize;
    ~ [for] { border-left: 0 }
    &:last-child { float: right; }
  }

  .content {
    @include clearfix;
    @include rhythm-borders(1px,1);
    clear: both;
    border-top: 0;
    ul {
      list-style: disc;
      padding-left: rhythm(1);
    }
  }
}

[data-toggle="tabs-nostyle"] {
  @extend %simple-slide;

  %active-tab-title {
    font-weight: bold;
  }

  .tabs-nostyle-demo {
    @include tabs(one1 two1 three1, ".tabs" ".content");
  }
}
