{% extends "slides/_default.j2" %}

{% block h1 %}Color <b>Variables</b>{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
$color-dark: #333;
$color-light: #eee;
$color-brand: hsl(330, 100%, 50%);
$color-accent: hsl(195, 100%, 55%);

$color-twitter: #00aced;
$color-instagram: #517fa4;
$color-stackoverflow: #F47920;
$color-soundcloud: #FF6600;
$color-dribbble: #EA4C89;
$color-github: #4183C4;
{% endhighlight %}
{% endblock %}
