{% extends "slides/_blank.j2" %}

{% block slide %}
<div class="slidebody">
<div demo="btn-combo">
  <div class="glow">
    <button class="btn btn--square">Square Button!</button>
    <button class="btn btn--round">Rounded button!</button>
    <button class="btn btn--pill">Pill Button!</button>
  </div>
  <div class="flat">
    <button class="btn btn--square">Square Button!</button>
    <button class="btn btn--round">Rounded button!</button>
    <button class="btn btn--pill">Pill Button!</button>
  </div>
  <div class="outline">
    <button class="btn btn--square">Square Button!</button>
    <button class="btn btn--round">Rounded button!</button>
    <button class="btn btn--pill">Pill Button!</button>
  </div>
</div>
</div>
{% endblock %}
