{% extends "slides/_default.j2" %}

{% block h1 %}<b>User</b> Config{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
$button-config: (
  style: glow,
  shape: square,
);
{% endhighlight %}
{% endblock %}
