{% extends "slides/_default.j2" %}

{% block h1 %}<b>Parse</b> Shorthand{% endblock %}
{% block h2 %}{% highlight 'scss' %}{% endhighlight %}{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
$button: parse(large flat pill checkmark inline-block);

// Result
$button: (
  size: large,
  style: flat,
  shape: pill,
  display: inline-block,
  icon: checkmark,
);
{% endhighlight %}
{% endblock %}
