{% extends "slides/_default.j2" %}

{% block h1 %}<b>Options</b> Map{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
$button-options: (
  // List of display keywords
  display: inline block inline-block,
);
{% endhighlight %}
{% endblock %}
