{% extends "slides/_default.j2" %}

{% block h1 %}Icon <b>Map</b>{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
$icons: (
  skull: "\e18c",
  warning: "\e243",
  checkmark: "\e258",
  instagram: "\e32e",
  twitter: "\e32f",
  dribbble: "\e341",
  github: "\e34c",
  soundcloud: "\e35d",
  stackoverflow: "\e367",
);
{% endhighlight %}
{% endblock %}
