{% extends "slides/_default.j2" %}

{% block h1 %}Sass <b>Placeholder</b>{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
%icon {
  font-family: 'magic';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
{% endhighlight %}
{% endblock %}
