{% extends "slides/_default.j2" %}

{% block h1 %}Icon <b>Function</b>{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
@function icon($icon) {
  // Get from map, or trust me.
  $icon: map-get($icons, $icon) or $icon;
  @return $icon;
}

@each $name, $glyph in $icons {
  [data-icon='#{$icon}']:before {
    content: icon($name);
  }
}
{% endhighlight %}
{% endblock %}
