{% extends "slides/_default.j2" %}

{% block slidehead %}{% endblock %}

{% block slidebody %}
{% highlight 'css' %}
.icon-skull:before {
  content: "\e18c";
}
.icon-warning:before {
  content: "\e243";
}
.icon-checkmark:before {
  content: "\e258";
}
.icon-instagram:before {
  content: "\e32e";
}
.icon-twitter:before {
  content: "\e32f";
}
.icon-dribbble:before {
  content: "\e341";
}
.icon-github:before {
  content: "\e34c";
}
.icon-soundcloud:before {
  content: "\e35d";
}
.icon-stackoverflow:before {
  content: "\e367";
}
{% endhighlight %}
{% endblock %}
