{% extends "slides/_default.j2" %}

{% block h1 %}Remember <b>CSS</b>?{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
.selector {
  background: white;
  border: 1em solid pink;
}
{% endhighlight %}
{% endblock %}
