{% extends "slides/_default.j2" %}

{% block h1 %}<b>Map</b>CSS!{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
$variable: (
  background: $white,
  border: 1em solid $pink,
);
{% endhighlight %}
{% endblock %}
