{% extends "slides/_default.j2" %}

{% block h1 %}Organized <b>Maps</b>{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
// After
$colors: (
  black: #333,
  white: #EEE,
  pink: #FF0080,
  blue: #1AC6FF,
);
{% endhighlight %}
{% endblock %}
