{% extends "slides/_default.j2" %}

{% block h1 %}<b>Mundane</b> Sass{% endblock %}
{% block h2 %}Looks for lists of related variables{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
// Before
$color-black: #333;
$color-white: #EEE;
$color-pink: #FF0080;
$color-blue: #1AC6FF;
{% endhighlight %}
{% endblock %}
