{% extends "slides/_default.j2" %}

{% block h1 %}Sass <b>Maps</b>!{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
$map: (
  key: value,
  another key: another value,
);
{% endhighlight %}
{% endblock %}
