{% extends "slides/_default.j2" %}

{% block h1 %}<b>Removing</b> Pairs{% endblock %}
{% block h2 %}{% highlight 'scss' %}map-remove($map, $key){% endhighlight %}{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
// Remove
$tonight: map-remove($tonight, month);

// Result
$tonight: (
  hello: Charlotte,
  name: Eric Suzanne,
  audience: "smart and attractive!",
);
{% endhighlight %}
{% endblock %}
