{% extends "slides/_default.j2" %}

{% block h1 %}<b>Creating</b> Maps{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
$map-magic: (
  hello: world,
  name: Eric Suzanne,
);
{% endhighlight %}
{% endblock %}
