{% extends "slides/_title.j2" %}

{% block h1 %}<b>OMG</b> We're Done{% endblock %}
{% block h2 %}
  <a href="http://twitter.com/ericmsuzanne">@EricMSuzanne</a> |
  <a href="http://twitter.com/oddestbirds">@OddestBirds</a> |
  <a href="http://twitter.com/sasssusy">@SassSusy</a>
{% endblock %}
