{% extends "slides/_default.j2" %}

{% block h1 %}Shape <b>Options</b>{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
$button-options: (
  shape: round square pill,
  display: inline block inline-block,
);
{% endhighlight %}
{% endblock %}
