{% extends "slides/_default.j2" %}

{% block h1 %}Button <b>Shapes</b>{% endblock %}

{% block slidebody %}
<div demo="btn-shapes">
  <button class="btn btn--square">Square Button!</button>
  <button class="btn btn--round">Rounded button!</button>
  <button class="btn btn--pill">Pill Button!</button>
</div>
{% endblock %}
