{% extends "slides/_default.j2" %}
{% import "map-magic/demo.macros.j2" as demo %}

{% block h1 %}<b>BOOM</b>{% endblock %}

{% block slidebody %}
<div demo="btn-preview">
  {{ demo.btn_social() }}
</div>
{% endblock %}
