{% extends "slides/_default.j2" %}

{% block h1 %}Button <b>Styles</b>{% endblock %}

{% block slidebody %}
<div demo="btn-styles">
  <button class="btn btn--flat">Flat Button!</button>
  <button class="btn btn--glow">Glowing button!</button>
  <button class="btn btn--outline">Outline Button!</button>
</div>
{% endblock %}
