{% extends "slides/_default.j2" %}

{% block h1 %}<b>Custom</b> Functions{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
@mixin button($style) {
  $input: btn-parse($style);
  $output: (
    display: map-get($input, display),
    border-radius: btn-shape($input),
  );

  $style: map-get($input, style);
  @if function-exists('btn-#{$style}') {
    $output: map-merge($output, call('btn-#{$style}', $input));
  }

  @include render($output);
}
{% endhighlight %}
{% endblock %}
