// Talk Helpers
// ============

@import "../settings";
@import "../placeholders/type";
@import "../placeholders/icons";


// Slides
// ------

%vertical-center {
  @include display-flex;
  @include align-items(center);
  .slidewrap { width: 100%; }
}

%simple-slide {
  @extend %vertical-center;
  @include background(image-url('rainish.svg') no-repeat scroll 150% 250%);
  @include background-size(50% auto);
}

%title-slide {
  @include background(image-url('eric.svg') no-repeat scroll rhythm(-5));
  @include background-size(contain);

  .slidewrap {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-around);
    height: 100%;
  }

  .head { @include font-size(xlarge); }
}


// Colors
// ------

%invert-colors {
  color: white;
  text-shadow: color(darkest $base) 0 1px 0, color(darkest $base) 0 0 1rem;
  .slidehead b { color: color($accent light); }
  a {
    #{$link} { color: color($alt lighter); }
    #{$focus} { color: color($accent lighter); }
  }
}

%terminal {
  @extend %invert-colors;
  background-color: color(darkest $base);
}


// Slide Selectors
// ---------------

@mixin slide(
  $name,
  $extends: false
) {
  [data-toggle='#{$name}'] {
    @if $extends {
      @each $class in $extends {
        @extend %#{$class};
      }
    }
    @content;
  }
}

@mixin is-active($name) {
  [id="toggle-slide-#{$name}"]:checked + & {
    @content;
  }
}

