{% extends "layout.j2" %}

{% block template %}

<main role="main">
  <h1>Pres</h1>
  <p>css-driven talks</p>

  <ul class="talks">
    <li>
      <a href="sample/">Sample Slides</a>
    </li>
    <li>
      <a href="plugins/">Show Your Work & Share Your Toys</a>
    </li>
  </ul>
</main>

{% endblock %}
