// Fonts
// =====

// Amp
@include font('BaskervilleAmp' 'amp/Baskerville-amp-webfont');

$font-file-types: 'ttf';

// Sans
@include font('SourceSansPro' 'sans/SourceSansPro-Light');
@include font('SourceSansPro' 'sans/SourceSansPro-LightItalic' italic);
@include font('SourceSansPro' 'sans/SourceSansPro-Bold' bold);
@include font('SourceSansPro' 'sans/SourceSansPro-BoldItalic' bold italic);

// Code
@include font('SourceCodePro' 'code/SourceCodePro-Regular');
@include font('SourceCodePro' 'code/SourceCodePro-Bold' bold);
@include font('SourceCodePro' 'code/SourceCodePro-Light' 200);

// ----------------------------------------------------------------------------
// Font Stacks

$sans-stack   : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack  : Baskerville, Palatino, Cambria, Georgia, serif;
$mono-stack   : Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;

// ----------------------------------------------------------------------------
// Font Mixins

@mixin sans { font-family: 'SourceSansPro', $sans-stack; }
@mixin mono { font-family: 'SourceCodePro', $mono-stack; }
@mixin light { font-weight: 200; }
@mixin amp {
  font-family: 'BaskervilleAmp', $serif-stack;
  font-weight: normal;
  font-style: normal;
}
