// Fonts
// =====

// Amp
@include font('BaskervilleAmp' 'amp/Baskerville-amp-webfont');

// ----------------------------------------------------------------------------
// Font Stacks

$sans-stack   : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack  : Baskerville, Palatino, Cambria, Georgia, serif;
$mono-stack   : Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;

// ----------------------------------------------------------------------------
// Font Mixins

@mixin sans { font-family: $sans-stack; }
@mixin serif { font-family: $serif-stack; }
@mixin mono { font-family: $mono-stack; }
@mixin amp {
  font-family: 'BaskervilleAmp', $serif-stack;
  font-weight: normal;
  font-style: normal;
}
