// Icons
// =====

@include font('pres' 'icons/pres');
@include icon-defaults('pres');

@mixin icon($name) {
  @extend %icon;
  @extend %icon-#{$name};

  &:before {
    @content;
  }
}

@mixin icon-replace($name, $width: null) {
  @extend %icon-replace;
  @extend %icon-#{$name};
  min-width: $width;

  &:before {
    @content;
  }
}

@mixin data-icons($icons) {
  @each $icon in $icons {
    $name: nth($icon,1);
    $value: nth($icon,2);
    %icon-#{$name}:before { content: $value; }
    [data-icon="#{$name}"]:before { content: $value; }
  }
}

@include data-icons($icons);
