// Root Styles
// ===========

@include establish-baseline;
* { @include box-sizing(border-box); }

html {
  @include sans;
  font-size: 2vw;
  line-height: 1.3em;
  background: color(98%);
  color: $base;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}
