// Root Styles
// ===========

@include establish-baseline;
* { @include box-sizing(border-box); }

html {
  @include sans;
  background: color(98%);
  color: $base;
  text-shadow: color(white,.5) 0 1px 0;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}
