// Typography
// ==========

.alt-text { @include gone; }
.amp { @include amp; }

// Headers
// -------

%h1 { @include adjust-font-size-to($xlargepx); }
%h2 { @include adjust-font-size-to($largepx); }
%h3 { @include adjust-font-size-to($medpx); }

%h4, %h5, %h6 { font-weight: bold; }

%headers {
  h1 { @extend %h1; }
  h2 { @extend %h2; }
  h3 { @extend %h3; }
  h4 { @extend %h4; }
}

// Body
// ----

%body {
  p, ol, ul {
    @include trailer;
  }

  ol, ul {
    ol, ul {
      margin-left: rhythm(1);
    }
  }

  ol { list-style: decimal; }
  ul { list-style: disc; }
}

// Type
// ----

%type {
  @extend %headers;
  @extend %body;
}
