// Sidehead
// ========

.slidehead {
  @include trailer;
  text-align: center;

  &:last-child { @include trailer(0); }
}

.head {
  @extend %h1;
  .amp {
    position: relative;
    font-size: rhythm(4);
    line-height: rhythm(2);
    display: inline-block;
    margin: 0 -.375em;
    padding: 0 .125em;
    vertical-align: middle;
    z-index: -1;
  }
  b { display: inline-block; }
}
