// Root Styles
// ===========

@include establish-baseline;
@include border-box-sizing;

html {
  @extend %sans;
  background: color(98%);
  color: $base;
  text-shadow: color(white, .5) 0 1px 0;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}
