{% extends "slides/_title.j2" %}

{% block h1 %}Eric <b class="amp">&</b> Meyer{% endblock %}
{% block h2 %}
  <a href="http://eric.andmeyer.com/">Artsy Bullshit</a>,
  <a href="http://oddbird.net">OddBird</a>,
  <a href="http://susy.oddbird.net">Susy</a>,
  <a href="http://compass-style.org">Compass</a>...
{% endblock %}
