{% extends "slides/_title.j2" %}
{% import "utility.macros.j2" as utility %}

{% block h1 %}
  <a href="http://compass-style.org">
    {{ utility.icon('compass') }}
    Compass
  </a>
{% endblock %}
{% block subhead %}{% endblock %}
