{% extends "slides/_title.j2" %}
{% import "utility.macros.j2" as utility %}

{% block h1 %}
<a href="http://oddbird.net/">
  {{ utility.icon('oddbird') }}
  <span class="alt-text">OddBird</span>
</a>
{% endblock %}
{% block subhead %}{% endblock %}
