{% extends "slides/_default.j2" %}

{% block h1 %}Help us <b>help you</b>{% endblock %}
{% block h2 %}CONTRIBUTING.md{% endblock %}

{% block slidebody %}
@@@ Need Contrib-Github Screenshot
{% endblock %}
