{% extends "slides/_default.j2" %}

{% block h1 %}Choose a <b>license</b>{% endblock %}
{% block h2 %}
  <a href="http://opensource.org/licenses/BSD-3-Clause">BSD</a>,
  <a href="http://opensource.org/licenses/MIT">MIT</a>...
  [<a href="http://opensource.org/licenses/gpl-license">GPL</a>,
  <a href="http://opensource.org/licenses/gpl-license">Apache</a>,
  <a href="http://opensource.org/licenses/MPL-2.0">MPL</a>]
{% endblock %}

{% block slidebody %}
<p class="credit">
  Thanks
  <a href="http://oddbird.net/set-your-code-free-preso/#/step-6">Carl Meyer</a>
  and
  <a href="http://www.youtube.com/watch?v=vhuF0oalOi8">Jacob Kaplan-Moss</a>
</p>
{% endblock %}
