{% extends "slides/_default.j2" %}

{% block h1 %}<a href="http://eric.andmeyer.com/true/">True</a>{% endblock %}

{% block slidebody %}
{% highlight 'scss' %}
@include test('column-count') {

  @include assert-equal(
    column-count(12), 12,
    'Symmetrical grid-count should equal $columns setting.');

  @include assert-equal(
    column-count(1 2 3), 3,
    'Asymmetrical grid-count should equal the list-length of $columns setting.');

}
{% endhighlight %}
{% endblock %}
