{% extends "slides/_blank.j2" %}

{% block slide %}
{% highlight 'scss' %}
@include test('[function] column-count()') {
  // A symmetrical grid is equal to its column count.
  @include assert-equal(
    column-count(12), 12,
    'Symmetrical grid-count should equal $columns setting.');

  // Asymmetrical grid is equal to the list length.
  @include assert-equal(
    column-count(1 2 3), 3,
    'Asymmetrical grid-count should equal the list-length of $columns setting.');
}
{% endhighlight %}
{% endblock %}
