{% extends "slides/_blank.j2" %}

{% block slide %}
<div class="page">
  <strong>#page</strong>
  <div class="left-nav"><strong>#left-nav</strong></div>
  <div class="main-content"><strong>#main-content</strong></div>
</div>
{% endblock %}
