{% extends "pres.j2" %}
{% import "slides/_macros.j2" as pres %}

{% block styles %}
  {{ static.css('../static/css/', ['show-yr-work.css']) }}
{% endblock %}

{% block data_talk %}show-yr-work{% endblock %}

{% block pres %}
  {{
    pres.loop(
      talk='show-yr-work',
      slides = [
        'title', 'fake', 'about', 'plugins',
        'show',
        'no-ruby', 'no-idea', 'no-plan', 'no-experience', 'no-name',
        'oddbird', 'systems', 'multiplier', 'grids',
        'chris', 'susy01', 'github', 'docs01', 'wtf',
        'community', 'wild',
        'share', 'dry', 'small', 'sass', 'tools', 'tabs', 'tabs-nostyle', 'toggle',
        'test', 'true', 'public', 'document', 'respond', 'bigger', 'new',
        'title'
      ]
    ) }}
{% endblock %}
