{% extends "pres.j2" %}
{% import "slides/_macros.j2" as pres %}

{% block styles %}
  {{ static.css('../static/css/', ['show-yr-work.css']) }}
{% endblock %}

{% block data_talk %}show-yr-work{% endblock %}

{% block pres %}
  {{
    pres.loop(
      talk='show-yr-work',
      slides=[
        'title',
        'bio-oddbird', 'bio-compass', 'bio-true', 'bio-art', 'bio-susy',
        'tldr', 'tldr-better', 'tldr-contrib',
        'no-ruby', 'no-idea', 'no-plan', 'no-experience', 'no-name', 'no-badge',
        'oddbird', 'systems', 'multiplier', 'grids',
        'chris', 'susy01', 'susy-origin', 'docs01', 'wtf', 'community',
        'show', 'dry', 'tools', 'small', 'tabs', 'tabs-nostyle', 'toggle',
        'wild', 'readme', 'license', 'bsd3', 'github', 'semver',
        'document', 'changelog', 'soft', 'ask', 'contrib', 'credit', 'respond',
        'distribute', 'sache',
        'test', 'true', 'travis', 'copy', 'new', 'su', 'bmore'
      ]
    ) }}
{% endblock %}
