{% extends "slides/_blank.j2" %}

{% block slide %}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, eveniet, deserunt, fugit enim deleniti ea velit reprehenderit assumenda numquam perferendis consectetur magni aperiam ab totam sint consequatur ipsam excepturi natus!</p>
{% endblock %}
