{% extends "slides/_default.j2" %}

{% block h1 %}<b>Organizing</b> Sass Partials{% endblock %}
{% block h2 %}NYCSass Meetup, 11.19.13{% endblock %}

{% block slidebody %}
<div class="vcard eric">
  <strong class="fn">Eric A. Meyer | <b>OddBird</b></strong>
  <a href="http://oddbird.net/" class="url" rel="me">
    <span data-icon="bubble"> </span>
    <span class="link-text">oddbird.net</span>
  </a>
  <a href="http://twitter.com/eriiicam/" rel="me">
    <span data-icon="twitter"> </span>
    <span class="link-text">eriiicam</span>
  </a>
  <a href="http://github.com/ericam/" rel="me">
    <span data-icon="github"> </span>
    <span class="link-text">ericam</span>
  </a>
</div>

<footer class="talk-info">
  <p class="colophon">
    Built on plain old semantic
    <a href="http://www.w3.org/TR/html5/">HTML5</a>
    and <a href="http://www.w3.org/TR/css-2010/">CSS3</a>,
    with help from
    <a href="http://keyamoon.com/icomoon/">IcoMoon</a>,
    <a href="http://github.com/Team-Sass/modular-scale">Modular-Scale</a>,
    <a href="http://compass-style.org/">Compass</a>,
    <a href="http://sass-lang.com/">Sass</a>,
    and a tiny touch of <a href="http://jquery.com">jQuery</a>.
    Slides available at
    <a href="http://eric.andmeyer.com/pres/sass-partials/" rel="slides">eric.andmeyer.com/pres/sass-partials/</a>,
    source available on
    <a href="https://github.com/ericam/pres">Github</a>.
  </p>

  <p class="copyright">
    Copyright &copy; 2013 <strong>Eric A. Meyer</strong>.
    <a href="https://github.com/ericam/pres/LICENSE">Some rights reserved</a>.
  </p>
</footer>
{% endblock %}
