{% extends "pres.j2" %}
{% import "slides/_macros.j2" as pres %}

{% block styles %}
  {{ static.css('../static/css/', ['sass-partials.css']) }}
{% endblock %}

{% block data_talk %}sass-partials{% endblock %}

{% block pres %}
  {{ pres.loop(
    talk='sass-partials',
    slides = [
      'title', 'rules', 'structure',
      'base-title', 'base', 'general-title', 'general',
      'layout-title', 'layout', 'patterns-title', 'patterns',
      'modules-title', 'modules', 'structure',
      'atomic', 'rules', 'title'
    ]
  ) }}
{% endblock %}
