{% import 'slides/_macros.j2' as slide %}

{% block pre %}{{ slide.pre(this, first) }}{% endblock %}

<div class="slidewrap">
  {% block slide %}{% endblock %}
</div>

{% block post %}{{ slide.post(this, prev, next) }}{% endblock %}
