{% for slide in slides %}
  {% if loop.first %}
    {% set first=True %}
    {% set prev=False %}
    {% set this=False %}
    {% set next=slide %}
  {% else %}
    {% if loop.last %}
      {% set prev=this %}
      {% set this=next %}
      {% set next=slide %}
      {% include talk ~ "/_" ~ this ~ ".j2" %}
      {% set first=False %}
      {% set prev=this %}
      {% set this=next %}
      {% set next=False %}
      {% include talk ~ "/_" ~ this ~ ".j2" %}
    {% else %}
      {% set prev=this %}
      {% set this=next %}
      {% set next=slide %}
      {% include talk ~ "/_" ~ this ~ ".j2" %}
      {% set first=False %}
    {% endif %}
  {% endif %}
{% endfor %}
