{% extends "slides/_blank.j2" %}

{% block slide %}
<header class="slidehead">
  <h1 class="head">{% block h1 %}{% endblock %}</h1>
  {% block subhead -%}
  <h2 class="subhead">{% block h2 %}{% endblock %}</h2>
  {%- endblock %}
</header>
{% endblock %}
