{% extends "slides/_default.j2" %}

{% block h1 %}Community <b>Review</b>{% endblock %}
{% block subhead %}{% endblock %}

{% block slidebody %}
<ul class="contributors">
  <li>Carl Meyer</li>
  <li>Jonny Gerig Meyer</li>
  <li>Chris Eppstein</li>
  <li>Jina Bolton</li>
  <li>Danny Palmer</li>
  <li>Tsachi Shlidor</li>
  <li>Rachel Nabors</li>
  <li>Mason Wendell</li>
  <li>Scott Kellum</li>
  <li>Sam Richards</li>
  <li>Daniel Bayerlein</li>
  <li>Matija Marohnić</li>
  <li>Thomas bredin-Grey</li>
  <li>Tim Berman</li>
  <li>djessup</li>
  <li>Rémi Barraquand</li>
  <li>Leo Picado</li>
  <li>Ben Frain</li>
  <li>Bart Olsthoorn</li>
  <li>aaandre</li>
  <li>Hilary (hilz) Holz</li>
  <li>Tony Adams</li>
  <li>Kenny Rasschaert</li>
  <li>Patrick Marsceill</li>
  <li>Jinzhu</li>
  <li>Zendy Wongso</li>
  <li>Rasmus Kjær</li>
  <li>Fazal Khan</li>
  <li>Steven Noble</li>
  <li>Norris</li>
</ul>
{% endblock %}
