{% extends "slides/_title.j2" %}

{% block h1 %}Eric <b>A.</b> Meyer{% endblock %}
{% block h2 %}
  <a href="http://www.meyerweb.com/eric/books/css-tdg/">CSS: The Definitive Guide</a>,
  <a href="http://meyerweb.com/eric/tools/css/reset/index.html">The Reset</a>,
  <a href="http://aneventapart.com/">The Events (Apart)</a>...
{% endblock %}
