{% extends "slides/_blank.j2" %}

{% block slide %}
{% highlight 'scss' %}
// span 3 of 12 prefix 1...
.widget {
  width: ((3*4em) + (2*1em)) / ((12*4em) + (11*1em)) * 100%; // 23.7288136%
  margin-right: 1em / ((12*4em) + (11*1em)) * 100%; // 01.6949153%
  padding-left: ((1*4em) + (1*1em)) / ((12*4em) + (11*1em)); // 08.4745763%
}
{% endhighlight %}
{% endblock %}
