{% extends "slides/_default.j2" %}

{% block h1 %}Sass <b>Litter</b>{% endblock %}
{% block subhead %}{% endblock %}

{% block slidebody %}
<ul class="plugin-history">
  <li class="susy">Susy</li>
  <li class="true">True</li>
  <li class="accoutrement">Accoutrement</li>
  <li class="animation">Compass-Animation</li>
  <li class="animate">Compass-Animate</li>
  <li class="lightbox">Compass-CSS-Lightbox</li>
  <li class="slideshow">Compass-CSS-Slideshow</li>
  <li class="webfontspecimen">Compass-Webfontspecimen</li>
</ul>
{% endblock %}
