{% extends "slides/_blank.j2" %}

{% block slide %}
<ul class="plugin-history">
  <li class="susy"><span class="alt-text">Susy</span></li>
  <li class="true"><span class="alt-text">True</span></li>
  <li class="accoutrement"><span class="alt-text">Accoutrement</span></li>
</ul>
{% endblock %}
