{% extends "slides/_default.j2" %}

{% block h1 %}2009<b>:</b> One-File Susy{% endblock %}
{% block h2 %}<b>4</b> Settings, <b>5</b> mixins{% endblock %}

{% block slidebody %}
{% highlight 'sass' %}
=get_col_width(!n, !context = !total_cols)
  :width= ((!n * !col_width) + ((!n - 1) * !gutter_width)) / ((!context * !col_width) + ((!context - 1) * !gutter_width)) * 100 + "%"
{% endhighlight %}
{% endblock %}
