{% extends "pres.j2" %}

{% block styles %}
  {{ static.css('../static/css/', 'plugins.css') }}
{% endblock %}

{% block data_talk %}plugins{% endblock %}

{% block pres %}
  {% set talk='plugins' %}
  {%
    set slides = [
      'title', 'fake', 'about', 'plugins',
      'show',
      'no-ruby', 'no-idea', 'no-plan', 'no-experience', 'no-name',
      'oddbird', 'systems', 'multiplier', 'grids',
      'chris', 'susy01', 'github', 'docs01', 'wtf',
      'community', 'wild',
      'share', 'dry', 'small', 'sass', 'tools', 'tabs', 'tabs-nostyle', 'toggle',
      'test', 'true', 'public', 'respond', 'bigger', 'new',
      'title'
    ]
  %}
  {% include "slides/_loop.j2" %}
{% endblock %}

{% block js %}
  {{ static.js('../static/js/') }}
{% endblock %}
