// Buttons
// =======

%button-reset {
  @include reset-box-model;
  background: none;
  color: $base;
  font: inherit;
  cursor: pointer;
  &:focus { outline: 0; }
}

%button-structure {
  @extend %button-reset;
  @include border-radius(.25rem);
  display: inline-block;
  padding: rhythm(.25) rhythm(1);
}

%button-style {
  @include transition(all 200ms);
  @include box-shadow(color(darkest, .125) 0 0 3px 0 inset);
  background: color(darkest, .125);

  &:hover, &:focus {
    @include box-shadow(color(darkest, .5) 0 0 0 1px inset);
    text-shadow: color(white, .5) 0 1px 0;
  }
  &:active {
    @include box-shadow(color(darkest, .75) 0 0 3px 1px inset);
  }

  &:disabled {
    @include box-shadow(color(darker, .25) 0 0 0 1px inset);
    color: color($base, .5);
    background: color(lightest, .25);
    cursor: text;
    #{$focus} {
      @include box-shadow(color(darker, .25) 0 0 0 1px inset);
      text-shadow: none;
    }
  }
}

%button {
  @extend %button-structure;
  @extend %button-style;
}

%icon-button {
  @extend %button;
  @extend %icon-replace;
  width: rhythm(1);
  &:before {
    right: 0;
    padding-top: rhythm(.25);
    text-align: center;
  }
}

%inline-icon-button {
  @extend %button;
  width: rhythm(1.5);
}

%link-button {
  @extend %button-reset;
  @include link-colors;
}

%primary-button {
  @extend %button;
  background-color: color($green);
}

%warning-button {
  @extend %button;
  background-color: color(light $red);
  color: color(lightest);
  &:hover, &:focus { text-shadow: color(darkest) 0 1px 0; }
}

%info-button {
  @extend %button;
  background-color: color($alt lighter);
}
