// Colors
// ======

$mid              : hsl(0,0%,50%);
$blue             : hsl(195,100%,50%);
$orange           : hsl(24,100%,50%);
$green            : hsl(75,100%,50%);
$pink             : hsl(330,100%,50%);
$red              : hsl(0,100%,50%);


// Keywords
// --------

@include set(color-keywords, (
  lightest: 90%,
  lighter: 50%,
  light: 10%,
  dark: -5%,
  darker: -40%,
  darkest: -80%,
));


// Guide
// -----

$base             : color(darker);
$alt              : color($blue dark);
$accent           : color($pink);
