// Typography
// ==========

$base-font-size             : 32px;
$base-line-height           : size(medium);

$rhythm-unit                : rem;
$rem-with-px-fallback       : false;

$relative-font-sizing       : true;
$round-to-nearest-half-line : true;

$link: '&:link, &:visited';
$focus: '&:hover, &:focus, &:active';
